BasedOnStyle: LLVM
IndentWidth: 2

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left

AccessModifierOffset: -1
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive

AlwaysBreakTemplateDeclarations: Yes

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
